.container {
    max-width: 100%;
    display: flex;
    align-items: center;
    text-align: center;

    text-align: center;
}

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}